.retrieve-admin {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .retrieve-admin .overlap-wrapper {
    background-color: #ffffff;
    height: 1117px;
    overflow: hidden;
    width: 1728px;
  }
  
  .retrieve-admin .overlap {
    height: 1117px;
    position: relative;
    width: 1732px;
  }
  
  .retrieve-admin .overlap-group {
    height: 1117px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1732px;
  }
  
  .retrieve-admin .topmenu {
    height: 101px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1732px;
  }
  
  .retrieve-admin .div {
    background-color: #e8f0fe;
    height: 101px;
    position: relative;
    width: 1728px;
  }
  
  .retrieve-admin .text-wrapper {
    color: #4e5360;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 42px;
    white-space: nowrap;
    width: 133px;
  }
  
  .retrieve-admin .logout-button {
    color: #4e5360;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1401px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 43px;
    white-space: nowrap;
    width: 85px;
  }
  
  .retrieve-admin .topmenu-line {
    height: 45px;
    left: 1496px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 1px;
  }
  
  .retrieve-admin .user-img {
    height: 40px;
    left: 1650px;
    position: absolute;
    top: 31px;
    width: 40px;
  }
  
  .retrieve-admin .sidemenu {
    height: 1117px;
    left: 0;
    position: absolute;
    top: 0;
    width: 253px;
  }
  
  .retrieve-admin .overlap-2 {
    background-color: #3a62d5;
    height: 1117px;
    position: relative;
    width: 251px;
  }
  
  .retrieve-admin .home-button {
    color: #ffffff;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 51px;
    white-space: nowrap;
    width: 234px;
  }
  
  .retrieve-admin .sidemenu-line {
    height: 1px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 100px;
    width: 200px;
  }
  
  .retrieve-admin .reg-button {
    height: 20px;
    left: 55px;
    position: absolute;
    top: 163px;
    width: 144px;
  }
  
  .retrieve-admin .text-wrapper-2 {
    color: #ffffff;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-size: 17px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 127px;
  }
  
  .retrieve-admin .img {
    height: 7px;
    left: 115px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 16px;
  }
  
  .retrieve-admin .ret-button {
    height: 20px;
    left: 55px;
    position: absolute;
    top: 214px;
    width: 144px;
  }
  
  .retrieve-admin .upload-title {
    color: #000000;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 1101px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 319px;
    white-space: nowrap;
    width: 435px;
  }
  
  .retrieve-admin .download-title {
    color: #000000;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 458px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 319px;
    white-space: nowrap;
    width: 435px;
  }
  
  .retrieve-admin .upload-file-table {
    background-color: #e8f0fe;
    border: 1px solid;
    border-color: #d2d3e2;
    border-radius: 30px;
    height: 319px;
    left: 1026px;
    position: absolute;
    top: 387px;
    width: 545px;
    padding : 20px;
  }
  
  .retrieve-admin .download-file-table {
    background-color: #e8f0fe;
    border: 1px solid;
    border-color: #d2d3e2;
    border-radius: 30px;
    height: 319px;
    left: 383px;
    position: absolute;
    top: 387px;
    width: 545px;
    padding:  20px;
  }
  
  .retrieve-admin .download-button {
    height: 54px;
    left: 542px;
    position: absolute;
    top: 790px;
    width: 269px;
  }
  
  .retrieve-admin .div-wrapper {
    background-color: #3a62d5;
    border-radius: 20px;
    height: 54px;
    position: relative;
    width: 267px;
  }
  
  .retrieve-admin .text-wrapper-3 {
    color: #ffffff;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
    width: 161px;
  }
  
  .retrieve-admin .upload-button {
    height: 54px;
    left: 1185px;
    position: absolute;
    top: 790px;
    width: 269px;
  }
  